html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table {
    margin: 1em auto;
}

td {
    height: 60px;
    width: 60px;
    border: solid thin;
    text-align: center;
}

    td:first-child {
        border-left: solid medium;
    }

    td:nth-child(3n) {
        border-right: solid medium;
    }

tr:first-child {
    border-top: solid medium;
}

tr:nth-child(3n) td {
    border-bottom: solid medium;
}